@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-image: linear-gradient(to bottom, rgba(7, 7, 0, 0), rgba(1, 1, 8, 0.5)),url(/img/81m1chz4kQL._AC_SL1500_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {

  display: flex;
  place-items: center;

}

h1 {

  line-height: 1.1;
  color: #646cff;
  font-family: "Rock Salt"; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Rock Salt"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Rock Salt"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Rock Salt"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Rock Salt"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
}

#login h1 {
  color: #3740ec;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  opacity: 0.5;
}
button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

.btn-back{
  margin-left: -50rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h3 {
  color: #f9f9f9;
}
/* Form */
#login {
  background-color: #f9f9f9;
  width: 60%;
  height: 50vh;
  margin: 4rem auto;
  border-radius: 20px;
}

#register {
  background-color: #f9f9f9;
  width: 60%;
  height: 80vh;
  margin: 4rem auto;
  border-radius: 20px;
}

#register input {
  width: 100%;
  margin: 0.5rem auto;
  height: 6vh;
 
}
#register h2, #addProduct h2 {
  margin-top: -2rem;
  font-family: "Rock Salt"; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Rock Salt"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Rock Salt"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Rock Salt"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Rock Salt"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
  

}
form {
  width: 100%;
  margin: 4rem auto;
}
#username, #password {
  width: 100%;
  margin: 0 auto;
  height: 6vh;


}

#username {
  border-radius: 5px 5px 0 0;
  border: 0.5pt solid grey;
  padding: 0.5em;

}

.info {
  border: 0.5pt solid grey;
  padding: 0.5em;
  width: 40%;
  margin: 0.2rem auto;
  height: 6vh;

}

#password {
  border-radius: 0 0 5px 5px;
  border: 0.5pt solid grey;
  padding: 0.5em;
}

.group {
  background-color: #535bf2;
  display: flex;
  justify-content: center;
  color: #f9f9f9;
  margin: 1rem auto;
  width: 10rem;
}
h2 {
  color: #535bf2;
  font-weight: 800;

}


/* nav - header */



.btn-anmelden, .btn-register {
  margin-right:2rem ;
  color: #535bf2;
  border: 1pt solid #535bf2;
}

header {
  
 display: flex;
 justify-content: space-between;


}

#body{
  display: flex;
  margin-top: 18rem;
  justify-content: space-around;
  
}

.body-item {
  
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  

}

.item {
 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;

}
.item1{
  background-image: url(https://thumbs.dreamstime.com/b/vector-text-shop-now-print-sketched-typography-as-label-online-website-promotion-banner-blogger-girl-clothes-souvenir-shoes-115894179.jpg);
}
.item2 {
  background-image: url(https://images.vexels.com/media/users/3/243115/isolated/preview/68e5e8574467c6e1949a455c2c99401a-palabras-individuales-25.png);
}

.item3 {
  background-image: url(https://previews.123rf.com/images/artrise/artrise1802/artrise180200091/95638152-coming-soon-hand-written-lettering-modern-calligraphy.jpg);
 
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


/* adddddddddddd Product*/


#addProduct {
  background-color: #f9f9f9;
  width: 80%;
  margin: 2rem auto;
  border-radius: 10px;
}


#team-container {

}
#team-member {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 2rem auto;
  flex-wrap: wrap;

}
.member {
  margin-top: 2rem;
  width: 300px;
  height: 50vh;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.member img {
  margin: 2rem auto;
}

.icon-link{
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  width: 50%;
}

.icon-link i {
  font-size: 1rem;
}